In [2]:
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt
import warnings
import sys
import datetime
import numpy as np
from IPython.core.interactiveshell import InteractiveShell

pd.set_option('display.max_columns', None)
InteractiveShell.ast_node_interactivity = "all"
warnings.filterwarnings('ignore')

print("python version: ", sys.version)
print("pandas version: ", pd.__version__)
print("seaborn version: ", sns.__version__)

print("last run: ", datetime.datetime.now().strftime("%Y-%m-%d %H:%M:%S"))

python version:  3.9.7 (default, Sep 16 2021, 16:59:28) [MSC v.1916 64 bit (AMD64)]
pandas version:  1.3.4
seaborn version:  0.11.2
last run:  2022-02-07 17:43:48

In [5]:
dataset = pd.read_csv('air_data.csv')
dataset.sample(2)

,MEMBER_NO,FFP_DATE,FIRST_FLIGHT_DATE,GENDER,FFP_TIER,WORK_CITY,WORK_PROVINCE,WORK_COUNTRY,AGE,LOAD_TIME,FLIGHT_COUNT,BP_SUM,EP_SUM_YR_1,EP_SUM_YR_2,SUM_YR_1,SUM_YR_2,SEG_KM_SUM,WEIGHTED_SEG_KM,LAST_FLIGHT_DATE,AVG_FLIGHT_COUNT,AVG_BP_SUM,BEGIN_TO_FIRST,LAST_TO_END,AVG_INTERVAL,MAX_INTERVAL,ADD_POINTS_SUM_YR_1,ADD_POINTS_SUM_YR_2,EXCHANGE_COUNT,avg_discount,P1Y_Flight_Count,L1Y_Flight_Count,P1Y_BP_SUM,L1Y_BP_SUM,EP_SUM,ADD_Point_SUM,Eli_Add_Point_Sum,L1Y_ELi_Add_Points,Points_Sum,L1Y_Points_Sum,Ration_L1Y_Flight_Count,Ration_P1Y_Flight_Count,Ration_P1Y_BPS,Ration_L1Y_BPS,Point_NotFlight
6747,62390,2011/06/22,2011/09/12,男,5,大连,辽宁,CN,39.0,2014/03/31,42,23289,0,750,16368.0,12977.0,34961,28494.56,2014/03/26,5.25,2911.125,10,6,17.439024,102,0,0,1,0.815038,21,21,12659,10630,750,0,750,750,24039,11380,0.500000,0.500000,0.543538,0.456419,1
8413,8806,2008/04/05,2008/04/05,男,4,哈尔滨,黑龙江,CN,37.0,2014/03/31,22,19659,0,0,7978.0,13214.0,35646,24727.66,2014/02/12,2.75,2457.375,172,49,24.285714,136,0,0,1,0.693701,8,14,6387,13272,0,0,0,0,19659,13272,0.636364,0.363636,0.324873,0.675076,1

In [6]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62988 entries, 0 to 62987
Data columns (total 44 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   MEMBER_NO                62988 non-null  int64
 1   FFP_DATE                 62988 non-null  object
 2   FIRST_FLIGHT_DATE        62988 non-null  object
 3   GENDER                   62985 non-null  object
 4   FFP_TIER                 62988 non-null  int64
 5   WORK_CITY                60719 non-null  object
 6   WORK_PROVINCE            59740 non-null  object
 7   WORK_COUNTRY             62962 non-null  object
 8   AGE                      62568 non-null  float64
 9   LOAD_TIME                62988 non-null  object
 10  FLIGHT_COUNT             62988 non-null  int64
 11  BP_SUM                   62988 non-null  int64
 12  EP_SUM_YR_1              62988 non-null  int64
 13  EP_SUM_YR_2              62988 non-null  int64
 14  SUM_YR_1                 62437 non-null  float64
 15  SUM_YR_2                 62850 non-null  float64
 16  SEG_KM_SUM               62988 non-null  int64
 17  WEIGHTED_SEG_KM          62988 non-null  float64
 18  LAST_FLIGHT_DATE         62988 non-null  object
 19  AVG_FLIGHT_COUNT         62988 non-null  float64
 20  AVG_BP_SUM               62988 non-null  float64
 21  BEGIN_TO_FIRST           62988 non-null  int64
 22  LAST_TO_END              62988 non-null  int64
 23  AVG_INTERVAL             62988 non-null  float64
 24  MAX_INTERVAL             62988 non-null  int64
 25  ADD_POINTS_SUM_YR_1      62988 non-null  int64
 26  ADD_POINTS_SUM_YR_2      62988 non-null  int64
 27  EXCHANGE_COUNT           62988 non-null  int64
 28  avg_discount             62988 non-null  float64
 29  P1Y_Flight_Count         62988 non-null  int64
 30  L1Y_Flight_Count         62988 non-null  int64
 31  P1Y_BP_SUM               62988 non-null  int64
 32  L1Y_BP_SUM               62988 non-null  int64
 33  EP_SUM                   62988 non-null  int64
 34  ADD_Point_SUM            62988 non-null  int64
 35  Eli_Add_Point_Sum        62988 non-null  int64
 36  L1Y_ELi_Add_Points       62988 non-null  int64
 37  Points_Sum               62988 non-null  int64
 38  L1Y_Points_Sum           62988 non-null  int64
 39  Ration_L1Y_Flight_Count  62988 non-null  float64
 40  Ration_P1Y_Flight_Count  62988 non-null  float64
 41  Ration_P1Y_BPS           62988 non-null  float64
 42  Ration_L1Y_BPS           62988 non-null  float64
 43  Point_NotFlight          62988 non-null  int64
dtypes: float64(12), int64(24), object(8)
memory usage: 21.1+ MB